# Dependencies
node_modules/

# Cloudflare
.wrangler/
.wrangler.toml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Build output
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
*.bak
*.tmp
wrangler.toml
